.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container img {
  cursor: pointer;
  background: transparent;
  height: 50px;
  width: 30px;
}
.active{
  background-color: red;
  width: 900px;
}
