.container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.322);
  justify-content: space-around;
}
.container img {
  cursor: pointer;
  background: transparent;
  height: 50px;
  width: 30px;
}
