.profileContainer {
  background-color: #565656;
  width: 40%;
  min-width: 600px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profileContainer input {
  outline: none;
}

.ERRORS {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}
.Titles {
  text-align: center;
  color: #fff;
}
#subTitle {
  margin: 0;
  padding: 0;
  color: #777777;
  font-size: 0.7em;
  border-bottom: 1px solid #535c68;
}
.form {
  margin: 5px;
  border: 0;
}

.form input {
  background-color: #fff;
  height: 25px;
}

.name input {
  border: 1px solid black;
  border-radius: 5px;
}

.email input {
  border: 1px solid black;
  width: 99%;
  margin-top: 10px;
  border-radius: 5px;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.visibility {
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  margin-top: 10px;
}
.visibility input {
  width: 99%;
  border-radius: 5px 0 0 5px;
}
.material-icons {
  background-color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.confirmPassword input {
  border: 1px solid black;
  border-radius: 5px;
  width: 99%;
  margin-top: 10px;
}

.button {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
.button button {
  background-color: #fff;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 25px;
}
