.criticsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #1e1e1e;
  font-size: 20px;
}

.boxReviews {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1145px) {
  .boxReviews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
