.modal {
    position: absolute;
    top: 400px;
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal > div {
    width: 50%;
    background-color: #BDD0F5;
    color: #1E1E1E;
    font-size: 18px;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
  }
  
  .modal button {
    position: absolute;
    background-color: #1E1E1E;
    color: white;
    height: 30px;
    bottom: 50px
  }