footer {
  background-color: #BDD0F5;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Copyright {
  margin-left: 15px;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
}

.Contact {
  height: 35px;
  width: 80px;
  background-color: #1e1e1e;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Logo_Reseau img {
  margin-right: 10px;
}

.modal {
  position: absolute;
  top: 400px;
  width: 100%;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > div {
  width: 50%;
  background-color: #BDD0F5;
  color: #1E1E1E;
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  border-radius: 5px;
}

.modal button {
  position: absolute;
  background-color: #1E1E1E;
  color: white;
  height: 30px;
  bottom: 50px
}