header {
  background-color: #bdd0f5;
  height: 75px;
  display: flex;

  margin: 0;
  padding: 0;
}

.Logo_Header {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.Logo_Header img {
  height: 125px;
  padding-right: 15px;
}

.Bouton_Header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.Bouton_Header li {
  margin-right: 15px;
  background-color: #1e1e1e;
}
