header {
  background-color: #bdd0f5;
  color: #1E1E1E;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo_Header {
  font-size: 20px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 25px;
}

.Logo_Header img {
  height: 125px;
  padding-right: 15px;
}

.Bouton_Header {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.nav-bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 15px;
  height: 45px;
  width: 140px;
  background-color: #1e1e1e;
  font-size: 21px;
  color: white;
  border-radius: 4px;
}

.nav-bouton-account {
  content: url(C:\Users\imenm\AlloCritiques\src\Images\Logos\Profile.svg)
}
