.movie-page{
  /* background-color: blue; */
}
.container{
  margin-top: 105px;
  background-color: blueviolet;
}
.header{
  background-color: chartreuse;
  text-align: center;
  color: #fff;
}
.count-pill{
  background-color: chocolate;
}
.movie-grid{
  display: flex;
  margin: 20px;
}
.movie-grid img{
  margin-right: 20px;
}
.no-movies{
color: white;
  text-align: center;
}