.Infos {
    width: 95%;
    height: 300px;
    background-color: #BDD0F5;
    margin: 40px 70px;
    display: flex;
}

.Infos > img {
    margin-top: -30px;
    margin-left: -30px;
    height: 360px;
}

.Infos_Film {
    margin-left: 50px;
    font-weight: bold;
}

span {
    font-weight: normal;
}

.Synopsis {
    margin-left: 50px;
    width: 650px;
    text-align: justify;
    font-weight: bold;
}

.bouton_favoris {
    cursor: pointer;
    margin-left: 75px
}