.result-card{
    background-color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 3px solid #565656;
    font-size: 1.2rem;
    padding-left: 55px;
}
.bouton-poster {
    border: none;
    background-color: #eb5757;
    height: 150px;
    width: 100px;
}
.search-poster {
    height: 140px;
}
.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search__add {
    margin-right: 5px;
    height: 30px;
}
/* .result-card{
    background-color: rgba(255, 255, 255, 0.774);
    display: flex;
    padding: 5px;
    border-bottom: 2px dashed black;
    height: 400px;
}
.info{
    width: 200px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.info-title{
    font-size: 1.8em;
}
.release-date{
    font-size:1.5em;
}
.controls{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-bottom: 10px;
    background-color:#BDD0F5;
    cursor: pointer;
    height: 29px;
    font-weight: bold;
}
.btn:hover{
    background-color:#aabee9;
} */