header {
  position: absolute;
  top: 0;
  background-color: #bdd0f5;
  color: #1e1e1e;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.critiques_titre {
  color: #EB5757;
}
.Logo_Header {
  font-size: 20px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 25px;
  text-decoration: none;
}
.Logo_Header:visited {
  color: #1e1e1e;
}
.Logo_Header img {
  height: 125px;
  padding-right: 15px;
}
.Bouton_Header {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.nav-bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 15px;
  height: 45px;
  width: 140px;
  background-color: #1e1e1e;
  font-size: 18px;
  color: white;
  border-radius: 4px;
}
.nav-bouton-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  margin-right: 15px;
  height: 45px;
  width: 140px;
  background-color: #8e8e8e;
  font-size: 18px;
  color: white;
  border-radius: 4px;
}
.nav-bouton- {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 15px;
  padding-left: 8px;
  height: 45px;
  width: 140px;
  background-color: #1e1e1e;
  font-size: 18px;
  color: white;
  border-radius: 4px;
}

.nav-bouton-account {
  content: url(../../Assets/Logos/Profile.svg);
}

@media (max-width: 1200px) {
  header {
    background-color: #bdd0f5;
    color: #1e1e1e;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo_Header {
    font-size: 14px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 25px;
  }

  .Logo_Header img {
    height: 75px;
    padding-right: 5px;
  }

  .Bouton_Header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 25px;
  }

  .nav-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    height: 25px;
    width: 100px;
    background-color: #1e1e1e;
    font-size: 21px;
    color: white;
    border-radius: 4px;
  }
}

@media (max-width: 950px) {
  .Logo_Header {
    font-size: 10px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 5px;
  }

  .Logo_Header img {
    height: 50px;
    padding-right: 5px;
  }

  .Bouton_Header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .nav-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 5px;
    height: 25px;
    width: 100px;
    background-color: #1e1e1e;
    font-size: 13px;
    color: white;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .Logo_Header {
    font-size: 8px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 5px;
  }

  .Logo_Header img {
    height: 30px;
    padding-right: 5px;
  }

  .Bouton_Header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .nav-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 5px;
    height: 25px;
    width: 70px;
    background-color: #1e1e1e;
    font-size: 13px;
    color: white;
    border-radius: 4px;
  }
  .nav-bouton-account {
    height: 20px;
  }
}
